ku4-carousel {
  backgroun-color: #a00;

  ku4-carousel-slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    box-sizing: border-box;

    &.inactive {
      position: absolute;
      height: 100%;
    }

    &.inactive.prev {
      animation-name: var(--ku4-carousel-animation-inactive-prev-name, ku4-carousel-exit-right);
      animation-duration: var(--ku4-carousel-animation-duration, 0.4);
      animation-timing-function: var(--ku4-carousel-animation-timing-function);
    }

    &.inactive.next {
      animation-name: var(--ku4-carousel-animation-inactive-next-name, ku4-carousel-exit-left);
      animation-duration: var(--ku4-carousel-animation-duration, 0.4);
      animation-timing-function: var(--ku4-carousel-animation-timing-function);
    }

    &.active {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      z-index: 1;
    }

    &.active.prev {
      animation-name: var(--ku4-carousel-animation-active-prev-name, ku4-carousel-enter-left);
      animation-duration: var(--ku4-carousel-animation-duration, 0.4);
      animation-timing-function: var(--ku4-carousel-animation-timing-function, ease);
    }

    &.active.next {
      animation-name: var(--ku4-carousel-animation-active-next-name, ku4-carousel-enter-right);
      animation-duration: var(--ku4-carousel-animation-duration, 0.4);
      animation-timing-function: var(--ku4-carousel-animation-timing-function, ease);
    }
  }
}
