:root {
  --ku4-label-left: 8px;
  --ku4-label-top: -3px;
  --ku4-label-padding: 0 4px;
  --ku4-label-font-size: 9px;
  --ku4-label-line-height: 9px;
  --ku4-label-background-color: #fff;
  --ku4-label-input-padding: 6px 4px;
  --ku4-label-empty-padding: 6px 4px;
}
