/* Label styled inside of input */
:root {
  --ku4-label-left: 8px;
  --ku4-label-top: 5px;
  --ku4-label-input-padding: 6px 4px;
  --ku4-label-empty-padding: 10px 4px 2px;
}

/* Label styled at border of input*/
:root {
  --ku4-label-left: 8px;
  --ku4-label-top: -3px;
  --ku4-label-padding: 0 4px;
  --ku4-label-background-color: #fff;
  --ku4-label-input-padding: 6px 4px;
  --ku4-label-empty-padding: 6px 4px;
}
