ku4-label {
  width: 100%;
  margin-top: 4px;
  font-size: 8px;
}

ku4-label input,
ku4-label select {
  -webkit-appearance: none;
  width: 100%;
  padding: 6px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: none;
  background-color: #fff;
  color: #333;
}

ku4-label input::placeholder,
ku4-label select::placeholder {
  color: #888;
}
