@keyframes ku4-carousel-enter-left {
  0% {
    top: 0;
    left: -100%;
    opacity: 0;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes ku4-carousel-enter-right {
  0% {
    top: 0;
    left: 100%;
    opacity: 0;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes ku4-carousel-exit-left {
  0% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: -100%;
    opacity: 0;
  }
}

@keyframes ku4-carousel-exit-right {
  0% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 100%;
    opacity: 0;
  }
}

:root {
  /*carousel*/
  --ku4-carousel-background-color: #fff;

  /*animation*/
  --ku4-carousel-animation-active-next-name:  ku4-carousel-enter-right;
  --ku4-carousel-animation-active-prev-name: ku4-carousel-enter-left;
  --ku4-carousel-animation-inactive-next-name: ku4-carousel-exit-left;
  --ku4-carousel-animation-inactive-prev-name: ku4-carousel-exit-right;
  --ku4-carousel-animation-duration: 0.4s;
  --ku4-carousel-animation-timing-function: ease;

  /*controls*/
  --ku4-carousel-controls-top: 0;
  --ku4-carousel-controls-border: none;
  --ku4-carousel-controls-background-color: #fff;
  --ku4-carousel-controls-font-family: Helvetica, Arial, sans-serif;
  --ku4-carousel-controls-font-weight: 400;
  --ku4-carousel-controls-font-size: 8px;
  --ku4-carousel-controls-line-height: 12px;
  --ku4-carousel-controls-line-spacing: 1;
  --ku4-carousel-controls-opacity: 0.2;

  /*controls - focus*/
  --ku4-carousel-controls-focus-background-color: transparent;
  --ku4-carousel-controls-focus-outline: none;
  --ku4-carousel-controls-focus-opacity: 1;

  /*controls - hover*/
  --ku4-carousel-controls-hover-background-color: transparent;
  --ku4-carousel-controls-hover-opacity: 1;

  /*controls - next*/
  --ku4-carousel-controls-next-width: 40px;
  --ku4-carousel-controls-next-height: 100%;
  --ku4-carousel-controls-next-background-image: url('/storybook/arrow-next.svg');
  --ku4-carousel-controls-next-background-repeat: no-repeat;
  --ku4-carousel-controls-next-background-position-x: 0;
  --ku4-carousel-controls-next-background-position-y: 50%;
  --ku4-carousel-controls-next-background-size: 100% 100%;

  /*controls - next - focus*/
  --ku4-carousel-controls-next-focus-background-image: url('/storybook/arrow-next.svg');;
  --ku4-carousel-controls-next-focus-background-repeat: no-repeat;
  --ku4-carousel-controls-next-focus-background-position-x: 0;
  --ku4-carousel-controls-next-focus-background-position-y: 50%;
  --ku4-carousel-controls-next-focus-background-size: 100% 100%;

  /*controls - next - hover*/
  --ku4-carousel-controls-next-hover-background-image: url('/storybook/arrow-next.svg');;
  --ku4-carousel-controls-next-hover-background-repeat: no-repeat;
  --ku4-carousel-controls-next-hover-background-position-x: 0;
  --ku4-carousel-controls-next-hover-background-position-y: 50%;
  --ku4-carousel-controls-next-hover-background-size: 100% 100%;

  /*controls - previous*/
  --ku4-carousel-controls-previous-width: 40px;
  --ku4-carousel-controls-previous-height: 100%;
  --ku4-carousel-controls-previous-background-image: url('/storybook/arrow-previous.svg');;
  --ku4-carousel-controls-previous-background-repeat: no-repeat;
  --ku4-carousel-controls-previous-background-position-x: 0;
  --ku4-carousel-controls-previous-background-position-y: 50%;
  --ku4-carousel-controls-previous-background-size: 100% 100%;

  /*controls - previous - focus*/
  --ku4-carousel-controls-previous-focus-background-image: url('/storybook/arrow-previous.svg');;
  --ku4-carousel-controls-previous-focus-background-repeat: no-repeat;
  --ku4-carousel-controls-previous-focus-background-position-x: 0;
  --ku4-carousel-controls-previous-focus-background-position-y: 50%;
  --ku4-carousel-controls-previous-focus-background-size: 100% 100%;

  /*controls - previous - hover*/
  --ku4-carousel-controls-previous-hover-background-image: url('/storybook/arrow-previous.svg');;
  --ku4-carousel-controls-previous-hover-background-repeat: no-repeat;
  --ku4-carousel-controls-previous-hover-background-position-x: 0;
  --ku4-carousel-controls-previous-hover-background-position-y: 50%;
  --ku4-carousel-controls-previous-hover-background-size: 100% 100%;

  /*pages*/
  --ku4-carousel-pages-top: auto;
  --ku4-carousel-pages-bottom: 0;
  --ku4-carousel-pages-height: 20px;
  --ku4-carousel-pages-background-color: transparent;
  --ku4-carousel-pages-opacity: 0.5;

  /*pages-text*/
  --ku4-carousel-pages-text-padding: 4px;
  --ku4-carousel-pages-text-font-family: Helvetica, Arial, sans-serif;
  --ku4-carousel-pages-text-font-weight: 300;
  --ku4-carousel-pages-text-font-size: 12px;
  --ku4-carousel-pages-text-line-height: 16px;
  --ku4-carousel-pages-text-line-spacing: 1;
  --ku4-carousel-pages-text-color: #ccc;
}
