/*************************************************************************
 *************************************************************************
 **   THIS FILE IS A 1:1 COPY/PASTE OF THE `template.column.css` THAT   **
 **   HAS CSS RULES IMPLEMENTED TO SHOW AN EXAMPLE OF HOW YOU MIGHT     **
 **   USE THIS FILE. THIS IS ONLY AN EXAMPLE. YOU CAN COPY/PASTE        **
 **   `template.column.css` INTO YOUR OWN PROJECT AND IMPLEMENT AS      **
 **   IS APPROPRIATE FOR YOUR PROJECT.                                  **
 *************************************************************************
 *************************************************************************/
/**
 * ============== ku4-table Column Style Template ===============
 * You may use this style template to help you implement table
 * styles targeting ku4-table configured for stack-xs="column" e.g.:
 *
 *                 <ku4-table stack-xs="column">
 *
 * This file can be used in whole or in part, and has been
 * commented throughout to help. See the example implementations
 * for an idea of one approach to styling.
 */
/** START | Common table styles **/
/**
 * This section is optional. If you have existing table styles
 * that you are currently using you can skip this section, or
 * actively omit/delete it.
 */
/** END | Common table styles **/
/** START | stack-xs="column" styles and overrides **/
/**
 * This section is not required but may be desired
 * to implement fine tuning at extra-small viewports.
 */
@media only screen and (max-width: 767px) {
  @supports (display: contents) and (not (-webkit-flow-from: main)) {
    tbody th, tbody td,
    tfoot th, tfoot td {
      border: none; }
    tbody td:before,
    tfoot td:before {
      padding-right: 16px;
      font-weight: 300; } } }

/** END | stack-xs="column" styles and overrides **/
