ku4-table table {
  border: none;
}

ku4-table.comparison thead {
  border: solid 1px #f59331;
}

ku4-table.comparison thead th {
  width: 25%;
}

ku4-table.comparison tbody td {
  text-align: center;
}

ku4-table.comparison tbody td.yes {
  color: #0a0;
}

ku4-table.comparison tbody td.no {
  color: #a00;
}

ku4-table.comparison tfoot th,
ku4-table.comparison tfoot td {
  border: none;
}

ku4-table.comparison .parenthetical {
  margin-left: 6px;
  font-size: .6em;
}

ku4-table.comparison button {
  width: 100%;
  height: 40px;
  background: none;
  border: solid 1px #ccc;
  border-radius: 4px;
  box-shadow: 0 0 6px -4px #000;
}

@media only screen and (max-width: 767px) {
  @supports (display: contents) {
    ku4-table.comparison thead th {
      width: auto;
    }

    ku4-table.comparison tbody td {
      align-items: center;
      text-align: left;
    }

    ku4-table.comparison tbody td:before{
      width: 140px;
      padding-right: 16px;
      font-weight: 300;
      color: #666;
    }
    ku4-table.comparison tfoot td:before {
      content: none;
    }
  }
}

