@keyframes ku4-modal-content-enter {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  30% {
    transform: scale(1.2);
    opacity: .8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ku4-modal-overlay-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

:root {
  --ku4-modal-overlay-background-color: #000;
  --ku4-modal-z-index: 5;

  --ku4-modal-content-animation: ku4-modal-content-enter;
  --ku4-modal-content-animation-duration: 0.4s;
  --ku4-modal-content-animation-timing-function: ease;

  --ku4-modal-overlay-animation: ku4-modal-overlay-enter;
  --ku4-modal-overlay-animation-duration: 0.4s;
  --ku4-modal-overlay-animation-timing-function: ease;
}
