:root {
  --ku4-modal-z-index: 5;

  --ku4-modal-content-animation-start-transform: scale(.5);
  --ku4-modal-content-animation-mid-transform: scale(1.2);
  --ku4-modal-content-animation-end-transform: scale(1);
  --ku4-modal-content-animation-start-opacity: 0;
  --ku4-modal-content-animation-mid-opacity: 0.8;
  --ku4-modal-content-animation-end-opacity: 1;

  --ku4-modal-overlay-animation-start-transform: none;
  --ku4-modal-overlay-animation-mid-transform: none;
  --ku4-modal-overlay-animation-end-transform: none;
  --ku4-modal-overlay-animation-start-opacity: 0;
  --ku4-modal-overlay-animation-mid-opacity: 0.35;
  --ku4-modal-overlay-animation-end-opacity: 0.4;

  --ku4-modal-content-animation-duration: 0.4s;
  --ku4-modal-content-animation-timing-function: ease;

  --ku4-modal-overlay-background: #000;
  --ku4-modal-overlay-opacity: 0.4;
  --ku4-modal-overlay-animation-duration: 0.4s;
  --ku4-modal-overlay-animation-timing-function: ease;
}
