/**
 * This stylesheet is not required. It helps to style this
 * component in it's kodmunki storybook story. It can be
 * used as is, modified, or omitted.
 */

.modal-content {
  width: 80vw;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 4px;
  box-shadow: 0 0 8px -2px #000;
  overflow: auto;
}

.modal-content .dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  border: none;
  background: transparent;
  color: #ccc;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    width: auto;
  }
}
