html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3f3f3f;
}

body {
  padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}

h1 {
  margin: 28px 0 0;
  font-size: 42px;
  font-weight: 600;
  line-height: 44px;
}

h2 {
  margin: 24px 0 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
}

h3 {
  margin: 22px 0 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
}

h4 {
  margin: 18px 0 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}

h5 {
  margin: 16px 0 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

h6 {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 600;
}

p {
  margin: 12px 0 ;
  line-height: 22px;
}

a, button {
  cursor: pointer;
  -webkit-appearance: none;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

ul, ul ul {
  list-style: disc;
}

pre {
  text-align: left;
}
