.os-content pre {
  font-size: 1rem !important;
  overflow: auto;
}

article code {
  font-family: "Courier New", Courier, Monospaced, monospace;
  padding: 2px;
  background-color: #eee;
}

article code.block {
  display: block;
  padding: 16px;
  border: solid 1px #ccc;
  line-height: 1.2rem;
}

.members code {
  font-size: 1rem !important;
}

ku4-tab-list {
  margin: 16px 0 0;
}

ku4-tab-panel[selected] {
  max-height: 2500px;
}

ku4-tab-panel {
  overflow: auto;
}


