ku4-table.support table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

ku4-table.support thead th,
ku4-table.support thead td,
ku4-table.support tbody th,
ku4-table.support tbody td,
ku4-table.support tfoot th,
ku4-table.support tfoot td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ku4-table.support span.yes {
  font-size: 22px;
  color: #0a0;
}

ku4-table.support span.no {
  font-size: 22px;
  color: #a00;
}

ku4-table.support span.maybe {
  font-size: 28px;
  color: #aa0;
}

@media only screen and (max-width: 767px) {

  ku4-table[stack-xs].support tbody th,
  ku4-table[stack-xs].support tbody td,
  ku4-table[stack-xs].support tfoot th,
  ku4-table[stack-xs].support tfoot td {
    border: none;
  }

  ku4-table[stack-xs].support tbody td,
  ku4-table[stack-xs].support tfoot td {
    width: 130px;
    padding: 16px;
    text-align: right;
    color: #3a2315;
  }

  ku4-table[stack-xs].support tbody td:before,
  ku4-table[stack-xs].support tfoot td:before {
    padding-right: 16px;
    font-weight: 600;
    font-size: 18px;
  }
}
